{
  "env": {
    "development": {
      "presets": ["env", "react"]
    },
    "production": {
      "presets": [
        ["env", {
            "targets": {
              "browsers": ["last 2 versions", "safari >= 7"]
            }
          }],
        "react"
      ]
    },
    "test": {
      "presets": ["env", "react"]
    }
  }
}
